<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "page_list_title" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let card of cards" (click)="cardTapped($event, card)">
      <!-- <ion-icon [name]="item.icon" item-start></ion-icon> -->
      <ion-grid>
        <ion-row>
          <ion-col col-1>
            <ion-img width="100%" height="100%" src="assets/imgs/{{card.imgPath}}"></ion-img>
          </ion-col>
          <ion-col col-3>
            {{ card.name | translate }}
          </ion-col>
          <ion-col col-8>
            <p class="wrap-text">{{card.name+"_desc" | translate}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </ion-list>
  <!-- <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div> -->
</ion-content>
