<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{page_list_title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let card of cards" (click)="cardTapped($event, card)">
      <!-- <ion-icon [name]="item.icon" item-start></ion-icon> -->
      <img src="assets/imgs/{{card.imgPath}}"/>
      {{card.name}}
      <div class="card-note" item-end>
        {{card.name+"_desc"}}
      </div>
    </button>
  </ion-list>
  <!-- <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div> -->
</ion-content>
